aiohttp~=3.11
Pillow~=11.0
tqdm~=4.67
yarl~=1.18
pydicom~=3.0
pylibjpeg~=2.0
numpy~=2.2
moviepy~=2.1

# pylibjpeg[all]
pylibjpeg-libjpeg~=2.3
pylibjpeg-openjpeg~=2.4
pylibjpeg-rle~=2.0

# Test dependencies
pytest~=8.3
